.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

html {
  -webkit-font-smoothing: antialiased; }

body {
  background: #d4d4d6;
  color: #484848;
  font-family: 'Inconsolata', monospace;
  font-weight: 700; }

nav input, label {
  display: none; }

nav ul {
  text-align: center;
  margin-top: 35px;
  padding-left: 0; }
  nav ul a {
    background-color: white;
    color: #484848;
    display: inline-block;
    list-style-type: none;
    height: 60px;
    margin-right: 40px;
    position: relative;
    width: 160px; }
    nav ul a.active {
      background-color: #d4d4d6;
      border-top: 5px solid #484848; }
      nav ul a.active:hover {
        box-shadow: none; }
    nav ul a:last-child {
      background-color: #2b2b2b;
      color: white;
      margin-right: 0; }
      nav ul a:last-child:hover {
        box-shadow: none; }
    nav ul a:hover {
      box-shadow: 5px 5px 0px 0px #484848; }

.container {
  margin: 40px auto;
  max-width: 640px; }

section {
  background-color: white;
  padding: 85px 100px; }

h1, h2 {
  text-align: center; }

h1 {
  margin-bottom: 0; }

h2 {
  margin-top: 5px;
  font-size: 18px; }

p {
  font-size: 18px;
  line-height: 150%; }

.upper {
  text-transform: uppercase; }

.v-align {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 100%; }

@media only screen and (max-width: 1200px) {
  nav ul a {
    margin-right: 20px;
    width: 120px; } }
@media only screen and (max-width: 900px) {
  nav ul a {
    margin-right: 5px; }

  section {
    padding: 40px; } }
@media only screen and (max-width: 800px) {
  nav label {
    display: block;
    font-size: 26px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase; }

  nav ul a {
    display: block;
    text-align: center;
    width: 100%; }

  #menu-toggle {
    display: none; }

  label {
    color: #484848;
    cursor: pointer; }

  #menu {
    display: none; }

  #menu-toggle:checked + #menu {
    display: block; }

  .container {
    margin: 20px auto;
    padding-top: 20px; } }
